parameters:
	ignoreErrors:
		-
			message: "#^Binary operation \"\\.\" between non\\-falsy\\-string and array\\<string\\>\\|string results in an error\\.$#"
			count: 1
			path: src/Model/Behavior/DuplicatableBehavior.php

		-
			message: "#^Call to an undefined method Cake\\\\ORM\\\\Query\\\\SelectQuery\\|Cake\\\\ORM\\\\Table\\:\\:contain\\(\\)\\.$#"
			count: 1
			path: src/Model/Behavior/DuplicatableBehavior.php

		-
			message: "#^Call to an undefined method Cake\\\\ORM\\\\Query\\\\SelectQuery\\|Cake\\\\ORM\\\\Table\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Model/Behavior/DuplicatableBehavior.php
